:root{
  --background:#fafafa;
  --navbar: #f26c4f;
  --grey:#A4A1A1;
  --offDay:#e8e8e8;
  --selectedDay: #FE2C00;
  --todoCircle: #f55b3a;
  --todoBackground:#fff;
  --todoPrincipal:#f26c4f
}

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  width: 100%;
  height: 667px;
  margin: auto;
  border: 1px solid rgb(226, 226, 226);
}
main{
  padding:1em 1.5em 2em 1em;
  height: 90%;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12%;
  padding: 1em 1em .2em 1em;
  background: var(--navbar);
}

.nav__left{
  display: flex;
  justify-content: space-between;
  width:65%;
}
.nav__left h1{
  color: whitesmoke;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
}

header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.header__user,
.header__rewards{
  display: flex;
  align-items: center;
}

.header__user h2{
  font-weight: 400;
  color: var(--navbar);
}

.header__rewards{
  width: 33%;
  justify-content: space-between;
  color: var(--grey);
}

.todo__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 77%;
}

.todo__days {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 19px;
  overflow: hidden;
  list-style-type: none;
}

[class^="todo__days--"]{
  display: flex;
  height: 100%;
  width: 33%;
  padding: .4rem;
  text-align: center;
  font-size: .9rem;
  cursor: pointer;
  border:1px solid transparent;
  transition: all .1s;
}

[class^="todo__days--"]:hover{
  background-color: var(--todoCircle);
  color: white;
}

.todo__days--off span,
.todo__days--on span{
  margin: auto;
}


.todo__days--off{
  background: var(--offDay);
  color: var(--grey);
}

.todo__days--on{
  background: var(--selectedDay);
  color: white;
  font-family: 'open sans', sans-serif;
}

.todo__list{
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo__list ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

[class^="todo__circle--"]{
  width: 53px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo__circle--active{
  background-image: url("./assets/Ellipse 37-1.svg");
}
.todo__circle--done{
  background-image: url("./assets/Ellipse 37.svg");
}

.todo__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 76px;
  padding: .7rem .7rem .7rem 1rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 3px 7px -2px rgba(0,0,0,0.3);
  font-family: 'open sans';
  animation: taskFadeIn .25s ease-in-out ;
}

.todo__item.selected .todo__item--title{
  color: var(--grey);
}

.todo__item--description {
  width: 60%;

}

.todo__item--title,
 .todo__item--place{
  font-family: 'Open Sans', sans-serif;
}

.todo__item--title{
  color:var(--todoPrincipal);
  margin-bottom: -.2rem;
}

.todo__item--place{
  color: grey;
  font-size: .6rem;
  text-transform: uppercase;
}

.todo__line{
  height: 1px;
  width: 100%;
  background: var(--grey);
}

.todo__gains--week,
.todo__gains--total {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 14px;

}

.todo__gains--week {
  color:var(--todoPrincipal);
  padding: 1em 0;
  font-weight: 500;
}

.todo__gains--week span:last-child{
  font-size: 20px;
}

.todo__gains--total{
  color: var(--grey);
}

/* Checkboxes */

label {
  align-self: start;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
label input {
display: none;
}

/* Create a custom checkbox */
.checkmark {
  height: 25px;
  width: 25px;
  border-radius: 4px;
  border:2px solid rgb(214, 214, 214);
  transition: all .2s;
}

/* On mouse-over, add a grey background color */
label:hover input ~ .checkmark {
  border-color: var(--todoPrincipal);
}

/* When the checkbox is checked, add a blue background */
label input:checked ~ .checkmark {
  background-color: var(--todoPrincipal);
  border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
label .checkmark:after {
  left: 9px;
  top: 3px;
  width: 5px;
  height: 13px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Loader */
.lds-circle {
  display: inline-block;
  margin: auto;
  transform: translateZ(1px);
}
.lds-circle > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: var(--todoPrincipal);
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

@keyframes taskFadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}



/* Media querie para simular una vista de smartphone cuando se visualiza en un monitor */

@media screen and (min-width:1024px){
  body{
    width: 360px
  }
}